<a href="https://colab.research.google.com/github/dvignoles/nyc-transpo/blob/master/nyc_transpo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import requests, zipfile, io, os, re, csv

TAXI_CSV_PATH = "./taxi_data"
BIKE_CSV_PATH = "./bike_data"

# We will use with 2013-2018 June data since June 2013 is when Citi Bike was started, and 2013-2018 data is available for both taxi and bikes.
YEARS = ["2013", "2014", "2015", "2016", "2017", "2018"]

In [0]:
# Set up directories and util functions to store the downloaded csv files

if os.path.isdir(TAXI_CSV_PATH) is False:
  os.mkdir(TAXI_CSV_PATH)
if os.path.isdir(BIKE_CSV_PATH) is False:
  os.mkdir(BIKE_CSV_PATH)

def save_csv(file_path, http_data):
    with open(file_path, "w") as f:
      writer = csv.writer(f)
      reader = csv.reader(http_data.text.splitlines())
      for row in reader:
        writer.writerow(row)
        
def get_csv_name(data_type, year):
  if data_type is "taxi":
    return TAXI_CSV_PATH + "/" + year + "-06.csv"
  elif data_type is "bike":
    return BIKE_CSV_PATH + "/" + year + "-06.csv"
  else:
    raise Exception("Data type must be taxi or bike")

# Taxi Dataframes
Since these downloads take a long time, do NOT reset all run times when it asks you to! It will wipe all downloaded files, and you'll have to download them again!

In [0]:
# Download and save the files first so they don't have to be redownloaded every time

for n in YEARS:
  file_path = get_csv_name("taxi", n)
  if os.path.isfile(file_path) is False:
    data = requests.get("https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_" + n + "-06.csv")
    save_csv(file_path, data)

dtypes = {
    "vendor_id": "str",
    "VendorID": "str",
    "pickup_datetime": "str",
    "dropoff_datetime": "str",
    "tpep_pickup_datetime": "str",
    "tpep_dropoff_datetime": "str",
    "passenger_count": np.int32,
    "trip_distance": np.float32,
    "pickup_longitude": np.float32,
    "pickup_latitude": np.float32,
    "PULocationID": np.int32,
    "DOLocationID": np.int32,
    "rate_code": np.int32,
    "RateCodeID": np.int32,
    "store_and_fwd_flag": "str",
    "dropoff_longitude": np.float32,
    "dropoff_latitude": np.float32,
    "payment_type": "str",
    "fare_amount": np.float32,
    "surcharge": np.float32,
    "mta_tax": np.float32,
    "tip_amount": np.float32,
    "tolls_amount": np.float32,
    "total_amount": np.float32
}

# Load the actual data

df_taxi_2013 = pd.read_csv(get_csv_name("taxi", "2013"), dtype=dtypes, parse_dates=[1,2], nrows=1000000)
df_taxi_2014 = pd.read_csv(get_csv_name("taxi", "2014"), dtype=dtypes, parse_dates=[1,2], nrows=1000000)
df_taxi_2015 = pd.read_csv(get_csv_name("taxi", "2015"), dtype=dtypes, parse_dates=[1,2], nrows=1000000)
df_taxi_2016 = pd.read_csv(get_csv_name("taxi", "2016"), dtype=dtypes, parse_dates=[1,2], nrows=1000000)
df_taxi_2017 = pd.read_csv(get_csv_name("taxi", "2017"), dtype=dtypes, parse_dates=[1,2], nrows=1000000)
df_taxi_2018 = pd.read_csv(get_csv_name("taxi", "2018"), dtype=dtypes, parse_dates=[1,2], nrows=1000000)

In [87]:
df_taxi_2013

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,CMT,2013-06-03 00:02:12,2013-06-03 00:10:07,1,1.300000,-73.981583,40.773529,1,N,-73.981827,40.782124,CRD,7.5,0.5,0.5,2.12,0.00,10.620000
1,CMT,2013-06-03 00:03:03,2013-06-03 00:19:27,1,4.900000,-73.999565,40.728367,1,N,-73.952927,40.729546,CRD,17.0,0.5,0.5,3.60,0.00,21.600000
2,CMT,2013-06-03 00:01:30,2013-06-03 00:28:11,1,17.700001,-73.788445,40.641151,2,N,-73.985451,40.744194,CRD,52.0,0.0,0.5,5.00,5.33,62.830002
3,CMT,2013-06-03 00:04:14,2013-06-03 00:27:50,1,12.100000,-73.862816,40.768875,1,N,-74.008797,40.738842,CRD,34.5,0.5,0.5,7.10,0.00,42.599998
4,CMT,2013-06-03 00:04:53,2013-06-03 00:10:46,1,1.100000,-73.964905,40.806881,1,N,-73.962349,40.794987,CRD,6.5,0.5,0.5,1.50,0.00,9.000000
5,CMT,2013-06-03 00:04:27,2013-06-03 00:19:17,2,3.300000,-73.987381,40.719738,1,N,-73.969223,40.690044,CRD,13.5,0.5,0.5,2.90,0.00,17.400000
6,CMT,2013-06-03 00:02:50,2013-06-03 00:10:53,1,1.200000,-73.993217,40.752106,1,N,-73.978149,40.741737,CRD,7.5,0.5,0.5,1.50,0.00,10.000000
7,CMT,2013-06-03 00:04:15,2013-06-03 00:14:31,1,2.900000,-73.988441,40.721733,1,N,-73.972900,40.755669,CRD,11.0,0.5,0.5,1.80,0.00,13.800000
8,CMT,2013-06-03 00:05:05,2013-06-03 00:10:55,1,1.300000,-73.991196,40.699284,1,N,-74.000214,40.682381,CRD,6.5,0.5,0.5,1.50,0.00,9.000000
9,CMT,2013-06-03 00:08:29,2013-06-03 00:17:29,1,1.800000,-73.981560,40.732746,1,N,-73.981560,40.732746,CRD,9.0,0.5,0.5,2.00,0.00,12.000000
10,CMT,2013-06-03 00:20:57,2013-06-03 00:25:08,1,1.100000,-73.951126,40.785782,1,N,-73.950104,40.773819,CRD,5.5,0.5,0.5,1.50,0.00,8.000000
11,CMT,2013-06-03 00:18:50,2013-06-03 00:36:27,1,5.200000,-73.919098,40.759079,1,N,-73.882370,40.723625,CRD,18.5,0.5,0.5,2.00,0.00,21.500000
12,CMT,2013-06-03 00:17:52,2013-06-03 00:21:15,1,0.900000,-73.956467,40.771164,1,N,-73.966713,40.763393,CRD,5.0,0.5,0.5,1.20,0.00,7.200000
13,CMT,2013-06-03 00:21:38,2013-06-03 00:43:36,2,4.200000,-73.982414,40.763515,1,N,-73.928749,40.766788,CRD,18.5,0.5,0.5,3.90,0.00,23.400000
14,CMT,2013-06-03 00:15:57,2013-06-03 00:20:59,1,1.100000,-73.994217,40.717720,1,N,-73.982735,40.724167,CRD,6.0,0.5,0.5,1.40,0.00,8.400000
15,CMT,2013-06-03 00:25:58,2013-06-03 00:34:48,3,2.100000,-73.986366,40.760792,1,N,-74.005844,40.743584,CRD,9.0,0.5,0.5,10.00,0.00,20.000000
16,CMT,2013-06-03 00:19:10,2013-06-03 00:28:50,1,1.600000,-73.994507,40.750584,1,N,-73.972008,40.755001,CRD,8.5,0.5,0.5,2.85,0.00,12.350000
17,CMT,2013-06-03 00:12:51,2013-06-03 00:28:43,1,3.700000,-73.984863,40.764244,1,N,-73.952278,40.811226,CRD,15.0,0.5,0.5,4.00,0.00,20.000000
18,CMT,2013-06-03 00:17:54,2013-06-03 00:25:51,1,3.200000,-73.937080,40.804195,1,N,-73.916168,40.769199,CRD,11.0,0.5,0.5,2.67,5.33,20.000000
19,CMT,2013-06-03 00:17:18,2013-06-03 00:28:55,1,3.300000,-73.976410,40.775669,1,N,-73.960030,40.815105,CRD,12.0,0.5,0.5,2.60,0.00,15.600000
20,CMT,2013-06-03 00:16:43,2013-06-03 00:21:26,1,0.900000,-73.984520,40.764931,1,N,-73.982597,40.774895,CRD,5.5,0.5,0.5,1.00,0.00,7.500000
21,CMT,2013-06-03 00:15:35,2013-06-03 00:33:46,1,4.800000,-73.967758,40.762985,1,N,-73.895813,40.760914,CRD,17.0,0.5,0.5,3.60,0.00,21.600000
22,CMT,2013-06-03 00:21:44,2013-06-03 00:32:57,1,2.300000,-73.971451,40.792740,1,N,-73.953064,40.771633,CRD,10.5,0.5,0.5,2.30,0.00,13.800000
23,CMT,2013-06-03 00:20:02,2013-06-03 00:25:56,1,2.100000,-73.989624,40.762981,1,N,-73.973083,40.786892,CRD,8.0,0.5,0.5,1.80,0.00,10.800000
24,CMT,2013-06-03 00:14:08,2013-06-03 00:31:28,1,4.500000,-73.990356,40.760792,1,N,-73.931168,40.764931,CRD,16.5,0.5,0.5,4.37,0.00,21.870001
25,CMT,2013-06-03 00:16:24,2013-06-03 00:18:59,2,0.600000,-74.000946,40.761864,1,N,-73.993378,40.762699,CRD,4.0,0.5,0.5,1.50,0.00,6.500000
26,CMT,2013-06-03 00:03:09,2013-06-03 00:23:36,1,5.000000,-73.989311,40.776455,1,N,-74.012566,40.716122,CRD,18.0,0.5,0.5,2.00,0.00,21.000000
27,CMT,2013-06-03 00:04:50,2013-06-03 00:22:00,1,7.700000,-73.862877,40.768925,1,N,-73.944351,40.815575,CRD,23.0,0.5,0.5,7.33,5.33,36.660000
28,CMT,2013-06-03 00:03:58,2013-06-03 00:05:14,1,0.500000,-73.976730,40.750847,1,N,-73.981003,40.744621,CRD,3.5,0.5,0.5,0.90,0.00,5.400000
29,CMT,2013-06-03 00:01:06,2013-06-03 00:06:04,1,0.900000,-73.980927,40.759216,1,N,-73.990356,40.751064,CRD,5.5,0.5,0.5,1.30,0.00,7.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999970,VTS,2013-06-12 08:15:00,2013-06-12 08:22:00,1,0.990000,-73.961700,40.764305,1,NaN,-73.972137,40.758011,CRD,7.0,0.0,0.5,0.50,0.00,8.000000
999971,VTS,2013-06-12 16:11:00,2013-06-12 16:28:00,5,1.930000,-73.969872,40.789791,1,NaN,-73.948296,40.776394,CSH,12.0,1.0,0.5,0.00,0.00,13.500000
999972,VTS,2013-06-15 08:37:00,2013-06-15 08:52:00,1,3.610000,-73.989372,40.777161,1,NaN,-73.998085,40.736095,CRD,14.0,0.0,0.5,2.80,0.00,17.299999
999973,VTS,2013-06-13 17:42:00,2013-06-13 17:57:00,1,1.030000,-73.994255,40.740852,1,NaN,-73.989418,40.753048,CRD,10.0,1.0,0.5,1.50,0.00,13.000000
999974,VTS,2013-06-13 17:57:00,2013-06-13 18:02:00,1,0.970000,-74.006538,40.744522,1,NaN,-73.951088,40.782753,CSH,5.5,1.0,0.5,0.00,0.00,7.000000
999975,VTS,2013-06-14 13:27:00,2013-06-14 13:37:00,1,1.430000,-73.949806,40.796040,1,NaN,-73.962868,40.778267,CSH,8.5,0.0,0.5,0.00,0.00,9.000000
999976,VTS,2013-06-15 08:43:00,2013-06-15 08:52:00,1,1.340000,-73.986336,40.689785,1,NaN,-73.994690,40.699753,CSH,7.5,0.0,0.5,0.00,0.00,8.000000
999977,VTS,2013-06-15 09:04:00,2013-06-15 09:14:00,6,2.080000,-73.981033,40.744453,1,NaN,-74.008179,40.747463,CSH,9.5,0.0,0.5,0.00,0.00,10.000000
999978,VTS,2013-06-14 13:45:00,2013-06-14 13:55:00,1,0.730000,-73.978874,40.757915,1,NaN,-73.971001,40.751343,CSH,8.0,0.0,0.5,0.00,0.00,8.500000
999979,VTS,2013-06-15 13:22:00,2013-06-15 13:31:00,1,1.000000,-73.990837,40.742111,1,NaN,-73.977730,40.738098,CRD,7.0,0.0,0.5,1.40,0.00,8.900000
999980,VTS,2013-06-15 13:27:00,2013-06-15 13:42:00,1,1.650000,-73.988228,40.764061,1,NaN,-73.966820,40.761585,CRD,11.0,0.0,0.5,2.20,0.00,13.700000
999981,VTS,2013-06-15 09:35:00,2013-06-15 09:43:00,3,1.970000,-73.971504,40.758606,1,NaN,-73.973488,40.769203,CRD,8.0,0.0,0.5,1.00,0.00,9.500000
999982,VTS,2013-06-13 18:06:00,2013-06-13 18:09:00,5,0.600000,-73.987167,40.728336,1,NaN,-73.981995,40.724026,CSH,4.5,1.0,0.5,0.00,0.00,6.000000
999983,VTS,2013-06-13 18:09:00,2013-06-13 18:19:00,2,1.700000,-73.987907,40.735168,1,NaN,-73.971336,40.744286,CRD,8.5,1.0,0.5,2.38,0.00,12.380000
999984,VTS,2013-06-14 14:03:00,2013-06-14 14:10:00,1,0.880000,-73.967178,40.763596,1,NaN,-73.976501,40.756283,CSH,6.5,0.0,0.5,0.00,0.00,7.000000
999985,VTS,2013-06-15 14:16:00,2013-06-15 14:19:00,1,0.390000,-74.003281,40.732910,1,NaN,-74.006226,40.733971,CSH,3.5,0.0,0.5,0.00,0.00,4.000000
999986,VTS,2013-06-14 14:08:00,2013-06-14 14:44:00,5,2.850000,-73.954712,40.765495,1,NaN,-73.990265,40.750896,CSH,23.0,0.0,0.5,0.00,0.00,23.500000
999987,VTS,2013-06-14 14:41:00,2013-06-14 14:51:00,4,1.780000,-73.952133,40.792831,1,NaN,-73.974854,40.788567,CSH,9.0,0.0,0.5,0.00,0.00,9.500000
999988,VTS,2013-06-14 14:44:00,2013-06-14 15:01:00,2,2.340000,-73.985863,40.726810,1,NaN,-73.995049,40.749897,CRD,13.0,0.0,0.5,2.00,0.00,15.500000
999989,VTS,2013-06-14 14:54:00,2013-06-14 15:15:00,2,1.520000,-73.978310,40.760742,1,NaN,-73.986275,40.750328,CRD,13.5,0.0,0.5,2.70,0.00,16.700001
999990,VTS,2013-06-16 13:19:00,2013-06-16 13:31:00,1,2.000000,-74.007492,40.707474,1,NaN,-74.006287,40.733486,CRD,9.5,0.0,0.5,1.90,0.00,11.900000
999991,VTS,2013-06-10 16:23:00,2013-06-10 16:31:00,1,1.670000,-73.957809,40.765343,1,NaN,-73.952667,40.783531,CSH,8.5,1.0,0.5,0.00,0.00,10.000000
999992,VTS,2013-06-16 14:55:00,2013-06-16 14:56:00,1,0.400000,-73.960609,40.769733,1,NaN,-73.957245,40.774097,CRD,3.5,0.0,0.5,1.00,0.00,5.000000
999993,VTS,2013-06-16 15:46:00,2013-06-16 15:56:00,1,1.830000,-73.990257,40.742851,1,NaN,-73.999306,40.730110,CRD,9.0,0.0,0.5,1.80,0.00,11.300000
999994,VTS,2013-06-16 15:40:00,2013-06-16 15:58:00,2,5.020000,-73.956284,40.771740,1,NaN,-74.005272,40.740669,CRD,18.5,0.0,0.5,2.00,0.00,21.000000
999995,VTS,2013-06-16 15:37:00,2013-06-16 16:07:00,1,11.500000,-73.862946,40.768803,1,NaN,-73.978439,40.762844,CRD,35.0,0.0,0.5,7.00,5.33,47.830002
999996,VTS,2013-06-16 16:11:00,2013-06-16 16:12:00,6,0.080000,-73.985313,40.773933,1,NaN,-73.983612,40.773537,CSH,2.5,0.0,0.5,0.00,0.00,3.000000
999997,VTS,2013-06-16 15:57:00,2013-06-16 16:55:00,2,20.250000,-73.972000,40.797176,2,NaN,-73.782097,40.648689,CSH,52.0,0.0,0.5,0.00,5.33,57.830002
999998,VTS,2013-06-16 16:58:00,2013-06-16 17:01:00,6,0.960000,-73.993904,40.731968,1,NaN,-73.995026,40.739819,CRD,5.0,0.0,0.5,1.00,0.00,6.500000
999999,VTS,2013-06-16 17:47:00,2013-06-16 17:50:00,1,0.600000,-74.001053,40.717880,1,NaN,-74.007027,40.711765,CSH,4.5,0.0,0.5,0.00,0.00,5.000000

# Citi Bike Dataframes
Since Citi Bike does not directly provide csv files, we must handle the zip files, extract, and load them accordingly.

In [0]:
reg_pattern = re.compile("^\d+.*\.csv$")

for n in YEARS:
  # See if the file exists
  file_path = get_csv_name("bike", n)
  if os.path.isfile(file_path) is True:
    continue

  # If not, request and save it
  req_url = ""
  if n != "2017" and n != "2018":
    req_url = "https://s3.amazonaws.com/tripdata/" + n + "06-citibike-tripdata.zip"
  else:
    req_url = "https://s3.amazonaws.com/tripdata/" + n + "06-citibike-tripdata.csv.zip"
  z = zipfile.ZipFile(io.BytesIO(requests.get(req_url).content))
  orig_file_name = list(filter(reg_pattern.match, z.namelist()))[0]
  z.extract(orig_file_name)
  os.rename(orig_file_name, get_csv_name("bike", n)) # Renaming the file will automatically remove it

In [0]:
df_bike_2013 = pd.read_csv(get_csv_name("bike", "2013"))
df_bike_2014 = pd.read_csv(get_csv_name("bike", "2014"))
df_bike_2015 = pd.read_csv(get_csv_name("bike", "2015"))
df_bike_2016 = pd.read_csv(get_csv_name("bike", "2016"))
df_bike_2017 = pd.read_csv(get_csv_name("bike", "2017"))
df_bike_2018 = pd.read_csv(get_csv_name("bike", "2018"))

In [17]:
df_bike_2018

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,695,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983.0,1
1,693,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984.0,1
2,2059,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0
3,123,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960.0,1
4,1521,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983.0,1
5,2028,2013-06-01 00:01:47,2013-06-01 00:35:35,485,W 37 St & 5 Ave,40.750380,-73.983390,406.0,Hicks St & Montague St,40.695128,-73.995951,18445,Customer,NaN,0
6,2057,2013-06-01 00:02:33,2013-06-01 00:36:50,285,Broadway & E 14 St,40.734546,-73.990741,532.0,S 5 Pl & S 5 St,40.710451,-73.960876,15693,Subscriber,1991.0,1
7,369,2013-06-01 00:03:29,2013-06-01 00:09:38,509,9 Ave & W 22 St,40.745497,-74.001971,521.0,8 Ave & W 31 St N,40.750967,-73.994442,16100,Subscriber,1981.0,1
8,1829,2013-06-01 00:03:47,2013-06-01 00:34:16,265,Stanton St & Chrystie St,40.722293,-73.991475,436.0,Hancock St & Bedford Ave,40.682166,-73.953990,15234,Subscriber,1984.0,1
9,829,2013-06-01 00:04:22,2013-06-01 00:18:11,404,9 Ave & W 14 St,40.740583,-74.005509,303.0,Mercer St & Spring St,40.723627,-73.999496,16400,Subscriber,1987.0,1
10,1316,2013-06-01 00:04:28,2013-06-01 00:26:24,423,W 54 St & 9 Ave,40.765849,-73.986905,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,19781,Subscriber,1960.0,1
11,1456,2013-06-01 00:04:41,2013-06-01 00:28:57,502,Henry St & Grand St,40.714215,-73.981346,532.0,S 5 Pl & S 5 St,40.710451,-73.960876,18886,Customer,NaN,0
12,386,2013-06-01 00:05:13,2013-06-01 00:11:39,241,DeKalb Ave & S Portland Ave,40.689810,-73.974931,365.0,Fulton St & Grand Ave,40.682232,-73.961458,19039,Subscriber,1981.0,1
13,924,2013-06-01 00:05:21,2013-06-01 00:20:45,486,Broadway & W 29 St,40.746201,-73.988557,521.0,8 Ave & W 31 St N,40.750967,-73.994442,16608,Customer,NaN,0
14,1233,2013-06-01 00:06:44,2013-06-01 00:27:17,527,E 33 St & 2 Ave,40.744023,-73.976056,296.0,Division St & Bowery,40.714131,-73.997047,14761,Subscriber,1987.0,1
15,512,2013-06-01 00:03:36,2013-06-01 00:12:08,309,Murray St & West St,40.714979,-74.013012,300.0,Shevchenko Pl & E 7 St,40.728145,-73.990214,19080,Subscriber,1979.0,2
16,505,2013-06-01 00:03:45,2013-06-01 00:12:10,309,Murray St & West St,40.714979,-74.013012,347.0,Greenwich St & W Houston St,40.728846,-74.008591,16798,Subscriber,1984.0,1
17,833,2013-06-01 00:07:29,2013-06-01 00:21:22,503,E 20 St & Park Ave,40.738274,-73.987520,503.0,E 20 St & Park Ave,40.738274,-73.987520,19072,Customer,NaN,0
18,1818,2013-06-01 00:08:10,2013-06-01 00:38:28,257,Lispenard St & Broadway,40.719392,-74.002472,500.0,Broadway & W 51 St,40.762288,-73.983362,20349,Customer,NaN,0
19,682,2013-06-01 00:08:53,2013-06-01 00:20:15,486,Broadway & W 29 St,40.746201,-73.988557,521.0,8 Ave & W 31 St N,40.750967,-73.994442,20176,Customer,NaN,0
20,899,2013-06-01 00:09:25,2013-06-01 00:24:24,494,W 26 St & 8 Ave,40.747348,-73.997236,494.0,W 26 St & 8 Ave,40.747348,-73.997236,15539,Subscriber,1967.0,1
21,626,2013-06-01 00:09:52,2013-06-01 00:20:18,380,W 4 St & 7 Ave S,40.734011,-74.002939,382.0,University Pl & E 14 St,40.734927,-73.992005,17122,Subscriber,1982.0,1
22,219,2013-06-01 00:10:28,2013-06-01 00:14:07,305,E 58 St & 3 Ave,40.760958,-73.967245,358.0,Christopher St & Greenwich St,40.732916,-74.007114,16301,Subscriber,1977.0,1
23,339,2013-06-01 00:10:45,2013-06-01 00:16:24,480,W 53 St & 10 Ave,40.766697,-73.990617,432.0,E 7 St & Avenue A,40.726218,-73.983799,15628,Subscriber,1969.0,1
24,97,2013-06-01 00:11:00,2013-06-01 00:12:37,453,W 22 St & 8 Ave,40.744751,-73.999154,453.0,W 22 St & 8 Ave,40.744751,-73.999154,18614,Subscriber,1985.0,1
25,511,2013-06-01 00:10:50,2013-06-01 00:19:21,223,W 13 St & 7 Ave,40.737815,-73.999947,345.0,W 13 St & 6 Ave,40.736494,-73.997044,19853,Subscriber,1979.0,1
26,198,2013-06-01 00:11:10,2013-06-01 00:14:28,476,E 31 St & 3 Ave,40.743943,-73.979661,461.0,E 20 St & 2 Ave,40.735877,-73.982050,17615,Subscriber,1982.0,1
27,482,2013-06-01 00:11:30,2013-06-01 00:19:32,151,Cleveland Pl & Spring St,40.722104,-73.997249,401.0,Allen St & Rivington St,40.720196,-73.989978,18970,Customer,NaN,0
28,395,2013-06-01 00:11:52,2013-06-01 00:18:27,312,Allen St & Stanton St,40.722055,-73.989111,410.0,Suffolk St & Stanton St,40.720664,-73.985180,19477,Subscriber,1970.0,1
29,424,2013-06-01 00:11:53,2013-06-01 00:18:57,494,W 26 St & 8 Ave,40.747348,-73.997236,519.0,Pershing Square North,40.751873,-73.977706,18489,Subscriber,1957.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577673,787,2013-06-30 23:54:29,2013-07-01 00:07:36,495,W 47 St & 10 Ave,40.762699,-73.993012,434.0,9 Ave & W 18 St,40.743174,-74.003664,14836,Customer,NaN,0
577674,547,2013-06-30 23:54:33,2013-07-01 00:03:40,237,E 11 St & 2 Ave,40.730473,-73.986724,285.0,Broadway & E 14 St,40.734546,-73.990741,18310,Subscriber,1983.0,1
577675,10327,2013-06-30 23:53:44,2013-07-01 02:45:51,428,E 3 St & 1 Ave,40.724677,-73.987834,403.0,E 2 St & 2 Ave,40.725029,-73.990697,19186,Customer,NaN,0
577676,1798,2013-06-30 23:55:03,2013-07-01 00:25:01,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,294.0,Washington Square E,40.730494,-73.995721,15887,Customer,NaN,0
577677,1758,2013-06-30 23:55:41,2013-07-01 00:24:59,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,294.0,Washington Square E,40.730494,-73.995721,16590,Customer,NaN,0
577678,631,2013-06-30 23:55:53,2013-07-01 00:06:24,439,E 4 St & 2 Ave,40.726281,-73.989780,537.0,Lexington Ave & E 24 St,40.740259,-73.984092,19494,Customer,NaN,0
577679,203,2013-06-30 23:52:44,2013-06-30 23:56:07,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,365.0,Fulton St & Grand Ave,40.682232,-73.961458,16981,Subscriber,1986.0,1
577680,279,2013-06-30 23:57:15,2013-07-01 00:01:54,402,Broadway & E 22 St,40.740343,-73.989551,402.0,Broadway & E 22 St,40.740343,-73.989551,19536,Subscriber,1955.0,1
577681,523,2013-06-30 23:57:32,2013-07-01 00:06:15,379,W 31 St & 7 Ave,40.749156,-73.991600,509.0,9 Ave & W 22 St,40.745497,-74.001971,18366,Subscriber,1978.0,2
577682,806,2013-06-30 23:57:38,2013-07-01 00:11:04,528,2 Ave & E 31 St,40.742909,-73.977061,297.0,E 15 St & 3 Ave,40.734232,-73.986923,20241,Subscriber,1982.0,1
577683,817,2013-06-30 23:54:34,2013-07-01 00:08:11,157,Henry St & Atlantic Ave,40.690893,-73.996123,2000.0,Front St & Washington St,40.702551,-73.989402,15364,Subscriber,1983.0,1
577684,730,2013-06-30 23:57:56,2013-07-01 00:10:06,540,Lexington Ave & E 29 St,40.743116,-73.982154,540.0,Lexington Ave & E 29 St,40.743116,-73.982154,15066,Customer,NaN,0
577685,318,2013-06-30 23:57:58,2013-07-01 00:03:16,127,Barrow St & Hudson St,40.731724,-74.006744,405.0,Washington St & Gansevoort St,40.739323,-74.008119,14972,Customer,NaN,0
577686,1090,2013-06-30 23:58:04,2013-07-01 00:16:14,477,W 41 St & 8 Ave,40.756405,-73.990026,536.0,1 Ave & E 30 St,40.741444,-73.975361,16516,Customer,NaN,0
577687,436,2013-06-30 23:58:09,2013-07-01 00:05:25,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,403.0,E 2 St & 2 Ave,40.725029,-73.990697,19454,Subscriber,1982.0,1
577688,784,2013-06-30 23:58:11,2013-07-01 00:11:15,348,W Broadway & Spring St,40.724910,-74.001547,335.0,Washington Pl & Broadway,40.729039,-73.994046,18556,Customer,NaN,0
577689,185,2013-06-30 23:57:52,2013-07-01 00:00:57,323,Lawrence St & Willoughby St,40.692362,-73.986317,293.0,Lafayette St & E 8 St,40.730207,-73.991026,16746,Subscriber,1982.0,1
577690,595,2013-06-30 23:58:39,2013-07-01 00:08:34,360,William St & Pine St,40.707179,-74.008873,329.0,Greenwich St & North Moore St,40.720152,-74.010365,19290,Subscriber,1985.0,1
577691,1539,2013-06-30 23:58:37,2013-07-01 00:24:16,363,West Thames St,40.708347,-74.017134,477.0,W 41 St & 8 Ave,40.756405,-73.990026,18465,Customer,NaN,0
577692,1777,2013-06-30 23:58:41,2013-07-01 00:28:18,470,W 20 St & 8 Ave,40.743453,-74.000040,268.0,Howard St & Centre St,40.719105,-73.999733,15741,Customer,NaN,0
577693,1059,2013-06-30 23:58:41,2013-07-01 00:16:20,477,W 41 St & 8 Ave,40.756405,-73.990026,477.0,W 41 St & 8 Ave,40.756405,-73.990026,16416,Customer,NaN,0
577694,1628,2013-06-30 23:58:46,2013-07-01 00:25:54,470,W 20 St & 8 Ave,40.743453,-74.000040,268.0,Howard St & Centre St,40.719105,-73.999733,15393,Customer,NaN,0
577695,81406,2013-06-30 23:58:45,2013-07-01 22:35:31,477,W 41 St & 8 Ave,40.756405,-73.990026,116.0,W 17 St & 8 Ave,40.741776,-74.001497,18726,Customer,NaN,0
577696,1397,2013-06-30 23:59:16,2013-07-01 00:22:33,470,W 20 St & 8 Ave,40.743453,-74.000040,268.0,Howard St & Centre St,40.719105,-73.999733,15487,Customer,NaN,0
577697,81724,2013-06-30 23:59:18,2013-07-01 22:41:22,477,W 41 St & 8 Ave,40.756405,-73.990026,116.0,W 17 St & 8 Ave,40.741776,-74.001497,14718,Customer,NaN,0
577698,925,2013-06-30 23:59:27,2013-07-01 00:14:52,509,9 Ave & W 22 St,40.745497,-74.001971,462.0,W 22 St & 10 Ave,40.746920,-74.004519,15250,Subscriber,1964.0,1
577699,279,2013-06-30 23:59:36,2013-07-01 00:04:15,116,W 17 St & 8 Ave,40.741776,-74.001497,494.0,W 26 St & 8 Ave,40.747348,-73.997236,19411,Customer,NaN,0
577700,161,2013-06-30 23:59:33,2013-07-01 00:02:14,443,Bedford Ave & S 9 St,40.708531,-73.964090,282.0,Kent Ave & S 11 St,40.707645,-73.968415,18910,Subscriber,1972.0,2
577701,909,2013-06-30 23:59:47,2013-07-01 00:14:56,509,9 Ave & W 22 St,40.745497,-74.001971,462.0,W 22 St & 10 Ave,40.746920,-74.004519,16108,Customer,NaN,0
577702,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504.0,1 Ave & E 16 St,40.732219,-73.981656,16950,Customer,NaN,0